html{
  height:100%;
}

body {
  padding-top: 50px;
  height:100%;
}

.clickable{
  cursor: pointer;
}

.whole-height{
  height:100%;
}

.whole-width{
  width:100% !important;
}

dt {
  width: 23% !important;
}

dd {
  margin-left:25% !important;
}

.img-conversacion{
  height: auto; 
  width: auto; 
  max-width: 200px; 
  max-height: 200px;
  
}

#principalRow{
  height:88%;
  
}

.nombre-participante{
  max-width: 200px !important;
}

#conversacionDiv{
  overflow: auto; 
  max-height: 325px;
}

#nombreUsuarioTextBox{
  max-width: 200px !important;
}


.participantesPanel{
  height: 100%;
}

.conversationPanel{
  height: 75%;
}

.inner-conversation-panel{
  height:90%;
}

.principalDivElements{
  height: 100%;
}

.img-usuario {
  width: 28px; 
  height: 32px;  
}

.user-format{
  border-radius: 5px;
  background: rgba(129, 185, 51, 0.3);
  margin-bottom: 2px; 
  margin-top: 2px;
}
